root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4

[*.c]
max_line_length = 123

[*.rs]
max_line_length = 123

[{*.zsh,*.bash,*.sh}]
tab_width = 4
